footer
  .container
    .row
      .col-md-12
        .inner-content
          p
            | Copyright &copy; 2022 Company Name - MagicSoft Pro:
            a(href='https://www.magicsoft.uz') magicsoft.uz
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Additional Scripts
script(src='assets/js/custom.js')
script(src='assets/js/owl.js')
script(src='/assets/js/axios.js')
script(src="assets/js/main.js") 
