header
  nav.navbar.navbar-expand-lg
    .container
      a.navbar-brand(href='index.html')
        h2
          | Magic Agro 
          em JOB
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/home')
              | Bosh sahifa
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/jobs') Ishlar
          li.nav-item
            a.nav-link(href='/contact') Aloqa
          li.nav-item
            a.nav-link(href='/login') Kirish
          li.nav-item
            a.nav-link(href='/register') Ro&apos;yxatdan o&apos;tish