extends base 
block content 
    .page-heading.contact-heading.header-text(style='background-image: url(assets/images/pexels-marcin-jozwiak-2845219.jpg)')
        .container
            .row
                .col-md-12
                    .text-content
                        h4 Savol va takliflaringiz bo&apos;lsa biz bilan
                        h2 Aloqa Qiling
    .find-us
        .container
            .row
                .col-md-12
                    .section-heading
                        h2 Bizning manzilimiz
                .col-md-8
                    #map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11982.102024427275!2d69.2867291!3d41.3409302!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x52a8f9d9414a2ad8!2sMuhammad%20al-Xorazmiy%20nomidagi%20Toshkent%20axborot%20texnologiyalari%20universiteti!5e0!3m2!1suz!2s!4v1668086847263!5m2!1suz!2s' width='100%' height='330px' frameborder='0' style='border: 0' allowfullscreen='')
                .col-md-4
                    .left-content
                        h4 Officemiz haqida
                        p
                            | Bizning office Toshkent shahar Yunusobod tumanida joylashgan
                            | bo&apos;lib,O&apos;zbekiston Respublikasi Qishloq xo&apos;jaligi vazirligi va
                            | O&apos;zbekiston Respublikasi Bandlik va mehnat munosbatlari
                            | vazirligi hamkorida ish ko&apos;radi.
                        ul.social-icons
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-linkedin
                            li
                                a(href='#')
                                    i.fa.fa-behance
    .send-message
        .container
            .row
                .col-md-12
                    .section-heading
                        h2 Biz bilan bog&apos;lanish
                .col-md-8
                    .contact-form
                        form#contact(action='' method='post')
                            .row
                            .col-lg-12.col-md-12.col-sm-12
                                fieldset
                                    input#name.form-control(name='name' type='text' placeholder='Ismingizni kiriting' required='')
                            .col-lg-12.col-md-12.col-sm-12
                                fieldset
                                    input#email.form-control(name='email' type='text' placeholder='Elektron pochtangizni kiriting' required='')
                            .col-lg-12.col-md-12.col-sm-12
                                fieldset
                                    input#subject.form-control(name='subject' type='text' placeholder='Kabingizni kiriting' required='')
                            .col-lg-12
                                fieldset
                                    textarea#message.form-control(name='message' rows='6' placeholder='Xabaringiz' required='')
                            .col-lg-12
                                fieldset
                                    button#form-submit.filled-button(type='submit')
                                        | Jo&apos;natish
                .col-md-4
                    img.img-fluid(src='assets/images/team_01.jpg' alt='')
                    h5.text-center(style='margin-top: 15px')
                        | Jamshid Kalandarov
