extends base
block content 
    .container.pt-5
        form.jobForm.pt-5(action='')
            .row.gap-3.justify-content-lg-around
                .form-group.col-lg-5.col-sm-12
                    label(for='name')
                        | Nomi 
                        span.text-danger (Required)
                    input.jobName.form-control(type='text' required='')
                input.userType.d-none(type="text" value=`${user._id}`)
                .form-group.col-lg-5.col-sm-12
                    label(for='surname')
                        | Ish turi 
                        span.text-danger (Required)
                    select.jobType.form-control(name='' id='')
                        each jobType in jobTypes 
                            option(value=`${jobType._id}`)= jobType.name 
                .form-group.col-lg-5.col-sm-12
                    label(for='surname')
                        | Viloyatingiz
                        span.text-danger (Required)
                    select.form-control(name='' id='regionInput')
                        each region in regions
                            option(value=`${region._id}`)= region.name_uz
                .form-group.col-lg-5.col-sm-12
                    label(for='surname')
                        | Tumaningiz 
                        span.text-danger (Required)
                    select.form-control(name='' id='districtInput')
                .form-group.col-lg-5.col-sm-12
                    label(for='direction')
                        | Narxi 
                        span.text-danger (Required)
                    input.priceJob.form-control(type='number' required='')
                .form-group.col-lg-5.col-sm-12
                    label(for='surname')
                        | Rasm 
                    input.photoJob.form-control(type="file")
                .form-group.col-lg-5.col-sm-12
                    label(for='surname')
                        | Ish haqida 
                        span.text-danger (Required)
                    textarea.jobContent.form-control(type="text") 
                .form-group.col-lg-5.col-sm-12.d-flex.align-items-end.justify-content-end.pb-3
                    button.btn.btn-primary(type='submit') Register
    script(src="/assets/js/createJob.js") 