extends base
block content
    .page-heading.about-heading.header-text(style='background-image: url(assets/images/pexels-quang-nguyen-vinh-2131784.jpg)')
        .container
            .row
                .col-md-12
                    .text-content
                        h4 Bizning saytimiz orqali o&apos;zingizga mos ish toping
                        h2 Ishlar
    .products
        .container
            .row
                .col-md-3
                    .contact-form
                        h5(style='margin-bottom: 15px') Hudud bo&apos;yicha izlash
                        ul
                            li
                                a.btn.btn-toolbar(href='#all') Respublika
                            li
                                a.btn.btn-toolbar(href='#all') Mening viloyatim
                            li
                                a.btn.btn-toolbar(href='#all') Mening tumanim
                        br
                        h5(style='margin-bottom: 15px') Narx bo&apos;yicha izlash
                        ul
                            li
                                a.btn.btn-toolbar(href='#all') 100$ gacha
                            li
                                a.btn.btn-toolbar(href='#all') 500$ gacha
                            li
                                a.btn.btn-toolbar(href='#all') 1000$ gacha
                            li
                                a.btn.btn-toolbar(href='#all') 1000$ dan yuqori
                .col-md-9
                    .row
                        .col-md-6
                            .product-item
                                a(href='job-details.html')
                                    img.img-fluid(src='assets/images/product-1-370x270.jpg' alt='')
                                .down-content
                                    a(href='job-details.html')
                                        h4 O&apos;simliklarni yetishtirish
                                    h6 $500
                                    h4
                                        small
                                            i.fa.fa-briefcase
                                            |   Agrar / Dalada
                                            br
                                            strong
                                                i.fa.fa-building
                                                |  Yunusobod
                                                |                           tumani
                                    small
                                        strong(title='Posted on')
                                            i.fa.fa-calendar
                                            |   11-11-2022
                                        strong(title='Location')
                                            i.fa.fa-map-marker
                                            |   Toshkent shahri
                        .col-md-12
                            ul.pages
                                li.active
                                    a(href='#') 1
                                li
                                    a(href='#') 2
                                li
                                    a(href='#') 3
                                li
                                    a(href='#') 4
                                li
                                    a(href='#')
                                    i.fa.fa-angle-double-right